/build/
*.dcu
*.identcache
*.local
*.dsk
*.stat
*.tvsconfig
__history/
__recovery/

/LiangliangNES.res
/LiangliangNES.vrc
/fmx/Win32/Debug/*
*.dsv
*.pyc
/tests/fixtures/*
/tests/*
/fmx/Linux64/*
*.~*
/fmx/Win64/*
/fmx/Android64/*
/fmx/Win32/*
/fmx/iOSSimARM64/*
/fmx/OSX64/*
